<%-include("partials/boilerplate")-%>
<%-include("partials/scroll_btns")-%>
<%-include("partials/header")-%>
<body>
    <%-include("partials/main_slider")-%>
    <%-include("partials/about_home")-%>
    <%-include("partials/our_team_home")-%>
    <%-include("partials/events_home")-%>
    <%-include("partials/contact_home")-%>
    <%-include("partials/footer")-%>
</body>
<%-include("partials/scripts")-%>
</html>
